
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Project Specific - Data & Sessions
workspaces/
data/uploads/
knowledge_base/faiss_index/

# Serialized Models & Pipelines
*.pkl
*.pickle
*.joblib
*.csv
*.json
# Virtual Environment
venv/
env/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env

# IDEs
.vscode/
.idea/

# Streamlit
.streamlit/

# OS specific
.DS_Store
Thumbs.db
